<!DOCTYPE html>
<html prefix="
        og: http://ogp.me/ns# article: http://ogp.me/ns/article#
    " vocab="http://ogp.me/ns" lang="en">
<head>
	{{ template "partial_head.tmpl" . }}
	{{ template "partial_vcs_autodiscovery.tmpl" . }}
	<title>{{ .Repo.Slug }}{{ if ne .Path "" }}/{{ .Path }}{{end}} at {{ .Revision }}</title>
	<meta property="og:title" content="{{ .Repo.Slug }}">
	<meta property="og:type" content="object">
	<meta name="twitter:title" content="{{ .Repo.Slug }}">
	<script type="text/javascript" src="/-/assets/highlight.min.js"></script>
</head>
<body>
	{{ template "nav.tmpl" }}
	<div id="main">
		<h1 class="p-name">{{ range .PathElems }}<a href="/{{ .Repo }}/-/tree/{{ .Revision}}{{ .Path }}">{{ .Base }}</a>/{{ end }}{{ .PathBase }} in <a href="/{{ .Repo.Slug }}">{{ .Repo.Slug }}</a></h1>
		<h2 class="p-summary">at {{ .Revision }}</h2>
		<pre><code><table>{{ range .Blob.Lines }}<tr id="L{{ .Number }}"><td class="linenum">{{ .Number }}</td><td class="line-content">{{ .Content }}</td></tr>{{ end }}</table></code></pre>
	</div>
	<script>initHash(window.location.hash)</script>
</body>
</html>
