<!DOCTYPE html>
<html prefix="
        og: http://ogp.me/ns# article: http://ogp.me/ns/article#
    " vocab="http://ogp.me/ns" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Daniel Moch's Git Repositories">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Commit | {{ .Repo.Slug }}</title>
	<link href="/-/assets/site.css" rel="stylesheet" type="text/css">
	<meta name="theme-color" content="#155799">
	<meta name="generator" content="DGit (git.danielmoch.com/dgit)">
	<link rel="icon" href="/-/assets/favicon.ico" sizes="16x16">
	<link rel="icon" href="/-/assets/favicon.ico" sizes="32x32">
	<link rel="icon" href="/-/assets/favicon.ico" sizes="48x48">
	<link rel="icon" href="/-/assets/favicon.ico" sizes="64x64">
	<link rel="icon" href="/-/assets/favicon.ico" sizes="256x256">
	<meta property="og:site_name" content="Daniel Moch's Git Repositories">
	<meta property="og:title" content="{{ .Repo.Slug }}">
	<meta property="og:type" content="object">
	<meta property="og:image" content="/-/assets/initials-blue.jpg">
	<meta name="twitter:title" content="{{ .Repo.Slug }}">
	<meta name="twitter:image" content="/-/assets/initials-blue.jpg">
	<meta name="twitter:card" content="summary">
</head>
<body>
	<header>
		<nav>
			<table>
				<tr>
					<td align="left">
						<img src="/-/assets/initials-blue.png" alt="Daniel Moch's Git Repositories">
						<a href="https://www.danielmoch.com/">Home</a>
						|
						<a href="https://www.danielmoch.com/posts/">Posts</a>
						|
						<a href="/">Git</a>
					</td>
				</tr>
			</table>
		</nav>
	</header>

	<div id="main">
		<h1 class="p-name">Commit</h1>
		<pre><code>{{ .Commit.Message }}</code></pre>
		{{ .Commit.Committer }} committed {{ Humanize .Commit.Time }}
		(<a href="/{{ .Repo.Slug }}/-/tree/{{ .Revision }}">Tree</a>)
		<h2>Diffstat</h2>
		<pre><code>{{ .Diffstat }}</code></pre>
		{{ range .FilePatches }}<h2>{{ .File }}</h2>
		<pre><code style="padding: 0;"><table style="border-collapse: collapse;">{{ range .Info }}
			<tr style="height: 17px;{{ if and (eq .Left "") (eq .Right "") }} background-color: #aaa; text-align: center;{{ else }}{{ if or (eq .Left "") (eq .Right "") }} background-color: #eea;{{ end }}{{ end }}">
				<td style="text-align: right; border-right: 1px solid; padding-right: 5px;">{{ .Left }}</td>
				<td style="text-align: right; border-right: 1px solid; padding-right: 5px;">{{ .Right }}</td>
				<td style="padding-left: 5px;">{{ .Content }}</td>
			</tr>{{ end }}
		</table></code></pre>{{ end }}
	</div>
</body>
</html>
