<!DOCTYPE html>
<html prefix="
        og: http://ogp.me/ns# article: http://ogp.me/ns/article#
    " vocab="http://ogp.me/ns" lang="en">
<head>
	{{ template "partial_head.tmpl" . }}
	{{ template "partial_vcs_autodiscovery.tmpl" . }}
	<title>Diff | {{ .Repo.Slug }}</title>
	<meta property="og:title" content="{{ .Repo.Slug }}">
	<meta property="og:type" content="object">
	<meta name="twitter:title" content="{{ .Repo.Slug }}">
</head>
<body>
	{{ template "nav.tmpl" }}
	<div id="main">
		<h1 class="p-name">Diff</h1>
		<h2 class="p-summary">from {{ .From }} to {{ .To }}</h2>
		<h2>Diffstat</h2>
		<pre><code>{{ .Diffstat }}</code></pre>
		{{ range .FilePatches }}<h2>{{ .File }}</h2>
		<pre><code><table style="border-collapse: collapse;">{{ range .Info }}
			<tr style="height: 17px;{{ if and (eq .Left "") (eq .Right "") }} background-color: #aaa; text-align: center;{{ else }}{{ if or (eq .Left "") (eq .Right "") }} background-color: #eea;{{ end }}{{ end }}">
				<td style="text-align: right; border-right: 1px solid; padding-right: 5px;">{{ .Left }}</td>
				<td style="text-align: right; border-right: 1px solid; padding-right: 5px;">{{ .Right }}</td>
				<td style="padding-left: 5px;">{{ .Content }}</td>
			</tr>{{ end }}
		</table></code></pre>{{ end }}
	</div>
</body>
</html>
