<!DOCTYPE html>
<html prefix="
        og: http://ogp.me/ns# article: http://ogp.me/ns/article#
    " vocab="http://ogp.me/ns" lang="en">
<head>
	{{ template "partial_head.tmpl" . }}
	<title>{{ .Message }} | Daniel Moch's Git Repositories</title>
	<meta property="og:title" content="{{ .Message }}">
	<meta property="og:type" content="object">
	<meta name="twitter:title" content="{{ .Message }}">
</head>
<body>
	{{ template "nav.tmpl" }}
	<div id="main">
		<h1>{{ .Message }}</h1>
		{{ .Message }}
	</div>
</body>
</html>
