<!DOCTYPE html>
<html prefix="
        og: http://ogp.me/ns# article: http://ogp.me/ns/article#
    " vocab="http://ogp.me/ns" lang="en">
<head>
	{{ template "partial_head.tmpl" . }}
	<title>Index | Daniel Moch's Git Repositories</title>
	<meta property="og:title" content="Daniel Moch's Git Repositories">
	<meta property="og:type" content="website">
	<meta name="twitter:title" content="Daniel Moch's Git Repositories">
</head>
<body>
	{{ template "nav.tmpl" }}
	<div id="main">
		<h1>Repositories</h1>
		<table style="text-align: left">
		<colgroup>
			<col span="1" style="width: 10em;">
			<col span="1" style="width: flex;">
			<col span="1" style="width: flex;">
		</colgroup>
		{{- range .Repos }}
		<tr><td><time>{{ Humanize .LastModified }}</time></td><td><a href="{{ .Slug }}">{{ .Slug }}</a></td><td>{{ .Description }}</td></tr>{{ end }}
		</table>
	</div>
</body>
</html>
