<!DOCTYPE html>
<html prefix="
        og: http://ogp.me/ns# article: http://ogp.me/ns/article#
    " vocab="http://ogp.me/ns" lang="en">
<head>
	{{ template "partial_head.tmpl" . }}
	{{ template "partial_vcs_autodiscovery.tmpl" . }}
	<title>Log | {{ .Revision }}</title>
	<meta property="og:title" content="{{ .Repo.Slug }}">
	<meta property="og:type" content="object">
	<meta name="twitter:title" content="{{ .Repo.Slug }}">
</head>
<body>
	{{ template "nav.tmpl" }}
	<div id="main">
		<h1 class="p-name">Log</h1>
		<h2 class="p-summary">
			at
			<a href="/{{ .Repo.Slug }}/-/tree/{{ .Revision }}">{{ .Revision }}</a>
			 in
			<a href="/{{ .Repo.Slug }}">{{ .Repo.Slug }}</a>
			&ndash;
			<a href="/{{ .Repo.Slug }}/-/refs">Refs</a></h2>
		</h2>
		<table style="text-align: left">
		<colgroup>
			<col span="1" style="width: 10em;">
			<col span="1" style="width: flex;">
			<col span="1" style="width: flex;">
		</colgroup>
		{{- range .Commits }}
		<tr><td>{{ .Time.Format "01/02/06" }}</td><td><a href="../commit/{{ .Hash }}">{{ .Hash.Short }}</a></td><td>{{ .Message }}</td></tr>{{ end }}
		</table>
		{{ if .HasNext }}<a href="{{ .Revision }}?from={{ .NextPage }}">More ...</a>{{ end }}
	</div>
</body>
</html>
