	<header>
		<nav>
			<table>
				<tr>
					<td align="left">
						<img src="/-/assets/initials-blue.png" alt="Daniel Moch's Git Repositories">
						<a href="https://www.danielmoch.com/">Home</a>
						|
						<a href="https://www.danielmoch.com/posts/">Posts</a>
						|
						<a href="/">Git</a>
					</td>
				</tr>
			</table>
		</nav>
	</header>
