	<meta content="git" name="vcs">
	<meta content="https://git.danielmoch.com/{{ .Repo.Slug }}" name="vcs:clone">
	<meta content="git@git.danielmoch.com:{{ .Repo.Slug }}" name="vcs:clone">
	<meta content="https://git.danielmoch.com/{{ .Repo.Slug }}" name="forge:summary">
	<meta content="https://git.danielmoch.com/{{ .Repo.Slug }}/-/tree/{ref}/{path}" name="forge:dir">
	<meta content="https://git.danielmoch.com/{{ .Repo.Slug }}/-/blob/{ref}/{path}" name="forge:file">
	<meta content="https://git.danielmoch.com/{{ .Repo.Slug }}/-/raw/{ref}/{path}" name="forge:rawfile">
	<meta content="https://git.danielmoch.com/{{ .Repo.Slug }}/-/blob/{ref}/{path}#L{line}" name="forge:line">
