	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Daniel Moch's Git Repositories">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/-/assets/site.css" rel="stylesheet" type="text/css">
	<meta name="theme-color" content="#155799">
	<meta name="generator" content="DGit (https://git.danielmoch.com/dgit)">
	<link rel="icon" href="/-/assets/favicon.ico" sizes="16x16">
	<link rel="icon" href="/-/assets/favicon.ico" sizes="32x32">
	<link rel="icon" href="/-/assets/favicon.ico" sizes="48x48">
	<link rel="icon" href="/-/assets/favicon.ico" sizes="64x64">
	<link rel="icon" href="/-/assets/favicon.ico" sizes="256x256">
	<meta property="og:site_name" content="Daniel Moch's Git Repositories">
	<meta property="og:image" content="/-/assets/initials-blue.jpg">
	<meta name="twitter:image" content="/-/assets/initials-blue.jpg">
	<meta name="twitter:card" content="summary">
