<!DOCTYPE html>
<html prefix="
        og: http://ogp.me/ns# article: http://ogp.me/ns/article#
    " vocab="http://ogp.me/ns" lang="en">
<head>
	{{ template "partial_head.tmpl" . }}
	<title>Refs | {{ .Repo.Slug }}</title>
	<meta property="og:title" content="{{ .Repo.Slug }}">
	<meta property="og:type" content="object">
	<meta name="twitter:title" content="{{ .Repo.Slug }}">
</head>
<body>
	{{ template "nav.tmpl" }}
	<div id="main">
		<h1>Refs for <a href="/{{ .Repo.Slug }}">{{ .Repo.Slug }}</a></h1>
		<h2>Branches</h2>
		{{ if (eq (len .Branches) 0) }}None{{ else }}
		<table style="text-align: left">
		<colgroup>
			<col span="1" style="width: 10em;">
			<col span="1" style="width: flex;">
		</colgroup>
		{{ $repo := .Repo.Slug }}
		{{- range .Branches }}
		<tr><td><time>{{ Humanize .Time }}</time></td><td><a href="tree/{{ .Name }}">{{ .Name }}</a> (<a href="/{{ $repo }}/-/log/{{ .Name }}">Log</a>)</td></tr>{{ end }} {{ end }}
		</table>
		<h2>Tags</h2>
		{{ if (eq (len .Tags) 0) }}None{{ else }}
		<table style="text-align: left">
		<colgroup>
			<col span="1" style="width: 10em;">
			<col span="1" style="width: flex;">
		</colgroup>
		{{- range .Tags }}
		<tr><td><time>{{ Humanize .Time }}</time></td><td><a href="tree/{{ .Name }}">{{ .Name }}</a></td></tr>{{ end }}{{ end }}
		</table>
	</div>
</body>
</html>
