<!DOCTYPE html>
<html prefix="
        og: http://ogp.me/ns# article: http://ogp.me/ns/article#
    " vocab="http://ogp.me/ns" lang="en">
<head>
	{{ template "partial_head.tmpl" . }}
	<title>{{ .Repo.Slug }}{{ if and (eq .Path "") (ne .Repo.Description "") }}: {{ .Repo.Description }}{{end}}</title>
	<meta property="og:title" content="{{ .Repo.Slug }}">
	<meta property="og:type" content="object">
	<meta name="twitter:title" content="{{ .Repo.Slug }}">
</head>
<body>
	{{ template "nav.tmpl" }}
	<div id="main">
		<h1 class="p-name">{{ if (and (ne .Path "") (ne .Path "/")) }}{{ range .PathElems }}<a href="/{{ .Repo }}/-/tree/{{ .Revision}}{{ .Path }}">{{ .Base }}</a>/{{ end }}{{ .PathBase }} in <a href="/{{ .Repo.Slug }}">{{ .Repo.Slug }}</a>{{ else }}{{ .Repo.Slug }}{{ if ne .Repo.Description "" }}: {{ .Repo.Description }}{{ end }}{{ end }}</h1>
		{{ if .IsEmpty }}<p>Repository is empty</p>
		{{ else }}<h2 class="p-summary">at {{ .Revision }}
		&ndash;
		<a href="/{{ .Repo.Slug }}/-/log/{{ .Revision}}">Log</a>
		<a href="/{{ .Repo.Slug }}/-/refs">Refs</a></h2>
		<table style="text-align: left">
		<colgroup>
			<col span="1" style="width: 25%;">
			<col span="1" style="width: 75%;">
		</colgroup>
		<tr><th>Mode</th><th>Name</th></tr>
		{{- range .Tree.Entries }}
		<tr><td>{{ .Mode.String }}</td><td><a href="{{ .Href }}">{{ .Name }}</a></td></tr>{{ end }}
		</table>{{ end }}
		{{ if .HasReadme }}<pre><code>{{ .Readme }}</code></pre> {{ end }}
	</div>
</body>
</html>
